#! /usr/bin/env -S bash
# -*- coding: ascii -*-

if [[ -e .env ]]; then
    set -a
    # shellcheck disable=SC1091
    source .env
    set +a
fi

# Set up nvm for current directory
if [[ -e .nvmrc && -f "${HOME}"/.nvm/nvm.sh ]]; then
    # shellcheck disable=SC1091
    source "${HOME}"/.nvm/nvm.sh
    nvm use --silent
fi
